{% extends "template.html" %}
{% block content %}
    <!-- ##### Hero Area Start ##### -->
    <section class="hero-area">
        <div class="hero-post-slides owl-carousel">

            <!-- Single Hero Post -->
            <div class="single-hero-post bg-overlay">
                <!-- Post Image -->
                <div class="slide-img bg-img" style="background-image: url(static/img/bg-img/1.jpg);"></div>
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <!-- Post Content -->
                            <div class="hero-slides-content text-center">
                                <h2>Estufa de chá inteligente</h2>
                                <p>Propomos uma estufa de chá atrelada a um sistema inteligente que controla o irrigamento, quantidade de água no reservatorio e a umidade do solo. Nosso produto tem como interface um website possuindo controle de acessos, configuração e controle da bomba de irrigamento e dashboard com os dados dos sensores.</p>
                                <div class="welcome-btn-group">
                                    <a href="#" class="btn alazea-btn mr-30">GET STARTED</a>
                                    <a href="#" class="btn alazea-btn active">CONTACT US</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Hero Post -->
            <div class="single-hero-post bg-overlay">
                <!-- Post Image -->
                <div class="slide-img bg-img" style="background-image: url(static/img/bg-img/2.jpg);"></div>
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <!-- Post Content -->
                            <div class="hero-slides-content text-center">
                                <h2>Estufa de chá inteligente</h2>
                                <p>Propomos uma estufa de chá atrelada a um sistema inteligente que controla o irrigamento, quantidade de água no reservatorio e a umidade do solo. Nosso produto tem como interface um website possuindo controle de acessos, configuração e controle da bomba de irrigamento e dashboard com os dados dos sensores.</p>
                                <div class="welcome-btn-group">
                                    <a href="#" class="btn alazea-btn mr-30">GET STARTED</a>
                                    <a href="#" class="btn alazea-btn active">CONTACT US</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- ##### Hero Area End ##### -->

    <!-- ##### Service Area Start ##### -->
    <section class="our-services-area bg-gray section-padding-100-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading -->
                    <div class="section-heading text-center">
                        <h2>NOSSOS SERVIÇOS</h2>
                        <p>Serviços que prestamos com excelência para você.</p>
                    </div>
                </div>
            </div>

            <div class="row justify-content-between">
                <div class="col-12 col-lg-5">
                    <div class="alazea-service-area mb-100">

                        <!-- Single Service Area -->
                        <div class="single-service-area d-flex align-items-center wow fadeInUp" data-wow-delay="100ms">
                            <!-- Icon -->
                            <div class="service-icon mr-30">
                                <img src="static/img/core-img/s1.png" alt="">
                            </div>
                            <!-- Content -->
                            <div class="service-content">
                                <h5>Estufa inteligente</h5>
                                <p>Estufa integrada a um sistema de IoT e um website para controle.</p>
                            </div>
                        </div>

                        <!-- Single Service Area -->
                        <div class="single-service-area d-flex align-items-center wow fadeInUp" data-wow-delay="300ms">
                            <!-- Icon -->
                            <div class="service-icon mr-30">
                                <img src="static/img/core-img/s2.png" alt="">
                            </div>
                            <!-- Content -->
                            <div class="service-content">
                                <h5>Irrigamento automático</h5>
                                <p>Sensores de umidade e bomba de água.</p>
                            </div>
                        </div>

                        <!-- Single Service Area -->
                        <div class="single-service-area d-flex align-items-center wow fadeInUp" data-wow-delay="500ms">
                            <!-- Icon -->
                            <div class="service-icon mr-30">
                                <img src="static/img/core-img/s3.png" alt="">
                            </div>
                            <!-- Content -->
                            <div class="service-content">
                                <h5>Sementes de chá</h5>
                                <p>Entrega semestral por assinatura de sementes para uso da estufa.</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="alazea-video-area bg-overlay mb-100">
                        <img src="static/img/bg-img/23.jpg" alt="">
                        <a href="https://www.youtube.com/watch?v=wekmqEt8tQE" class="video-icon">
                            <i class="fa fa-play" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Service Area End ##### -->

    <section class="area-da-estufa-inteligente-de-cha section-padding-100-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Título da Seção -->
                    <div class="section-heading text-center">
                        <h2>ESTUFA INTELIGENTE DE CHÁ</h2>
                        <p>Experimente o futuro do cultivo de chá com nosso sistema inteligente de estufa</p>
                    </div>
                </div>
            </div>
    
            <div class="row justify-content-center">
                <!-- Interface da Estufa -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-post mb-100">
                        <div class="post-thumbnail mb-30">
                            <a href="#"><img src="static/img/bg-img/7.jpg" alt=""></a>
                        </div>
                        <div class="post-content">
                            <a href="#" class="post-title">
                                <h5>Interface da Estufa</h5>
                            </a>
                            <div class="post-meta">
                                <a href="#"><i class="fa fa-user" aria-hidden="true"></i> Controle de acesso e configuração do sistema de irrigação</a>
                            </div>
                            <p class="post-excerpt">Nossa interface de estufa inteligente permite o controle fácil das configurações da bomba de irrigação, níveis de reservatório de água e umidade do solo, de qualquer lugar com acesso à internet.</p>
                        </div>
                    </div>
                </div>
                <!-- Controle Inteligente da Estufa -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-post mb-100">
                        <div class="post-thumbnail mb-30">
                            <a href="#"><img src="static/img/bg-img/8.jpg" alt=""></a>
                        </div>
                        <div class="post-content">
                            <a href="#" class="post-title">
                                <h5>Controle Inteligente da Estufa</h5>
                            </a>
                            <div class="post-meta">
                                <a href="#"><i class="fa fa-user" aria-hidden="true"></i> Automação de irrigação e controle climático</a>
                            </div>
                            <p class="post-excerpt">Nosso sistema inteligente de controle de irrigação e clima da estufa ajusta automaticamente a quantidade de água, a umidade do solo e a temperatura, garantindo que as plantas de chá cresçam em condições ideais.</p>
                        </div>
                    </div>
                </div>
    
                <!-- Painel de Sensores -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-post mb-100">
                        <div class="post-thumbnail mb-30">
                            <a href="#"><img src="static/img/bg-img/6.jpg" alt=""></a>
                        </div>
                        <div class="post-content">
                            <a href="#" class="post-title">
                                <h5>Painel de Sensores</h5>
                            </a>
                            <div class="post-meta">
                                <a href="#"><i class="fa fa-user" aria-hidden="true"></i> Monitorar condições da estufa em tempo real</a>
                            </div>
                            <p class="post-excerpt">Nosso painel de sensores fornece dados em tempo real sobre a temperatura, umidade e níveis de umidade do solo, permitindo monitorar facilmente as condições das plantas de chá.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Área da Estufa Inteligente de Chá Fim ##### -->
    

    <!-- ##### Subscribe Area Start ##### -->
    <section class="subscribe-newsletter-area" style="background-image: url(static/img/bg-img/subscribe.png);">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-12 col-lg-5">
                    <!-- Section Heading -->
                    <div class="section-heading mb-0">
                        <h2>INSCREVA-SE EM NOSSA NEWSLETTER</h2>
                        <p>Assine nossa newsletter e receba regularmente nossas atualizações, novidades e promoções exclusivas. E para começar, ganhe 10% de desconto em sua primeira compra.</p>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="subscribe-form">
                        <form action="#" method="get">
                            <input type="email" name="subscribe-email" id="subscribeEmail" placeholder="Enter your email">
                            <button type="submit" class="btn alazea-btn">SUBSCRIBE</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Subscribe Side Thumbnail -->
        <div class="subscribe-side-thumb wow fadeInUp" data-wow-delay="500ms">
            <img class="first-img" src="static/img/core-img/leaf.png" alt="">
        </div>
    </section>
    <!-- ##### Subscribe Area End ##### -->

{% endblock %}

